/* Базовые стили CSS
Стили для html
Эти стили задают базовые параметры для корневого элемента html. */

html {
  position: relative;
  box-sizing: border-box;
}
/* Универсальный селектор
Универсальный селектор применяется ко всем элементам на странице, включая псевдоэлементы. */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* Стили для body
Эти стили определяют основные параметры для тела документа, такие как шрифт, цвет текста и фон. */

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Golos Text", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  color: #000;
  background-color: #fff;
}
/* Стили для body
Эти стили определяют основные параметры для тела документа, такие как шрифт, цвет текста и фон. */

body {
  /* Задает базовую позицию для элементов внутри тела документа. */
  position: relative;

  /* Запрещает горизонтальную прокрутку страницы. */
  overflow-x: hidden;

  /* Задает минимальную ширину для тела документа, чтобы контент не сжимался слишком сильно на узких экранах. */
  min-width: 320px;

  /* Задает минимальную высоту для тела документа, чтобы оно занимало всю видимую высоту экрана. */
  min-height: 100vh;

  /* Задает шрифт для текста на странице. */
  /* font-family: "Golos Text", sans-serif; */

  /* Сглаживает шрифт для улучшения читаемости на экранах с высоким разрешением. */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Оптимизирует качество отображения текста для лучшей читаемости. */
  text-rendering: optimizeLegibility;

  /* Устанавливает цвет выделения при нажатии на элементы на странице. */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  /* Задает базовый размер шрифта для текста на странице. */
  font-size: 16px;

  /* Задает цвет текста на странице. */
  color: #000;

  /* Задает цвет фона для тела документа. */
  background-color: #fff;
}
/* Стили для изображений и SVG
Эти стили обеспечивают корректное отображение изображений и векторной графики на странице. */

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}
/* Стили для кнопок
Эти стили определяют внешний вид кнопок, убирая отступы, рамки и задавая прозрачный фон. */

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
/* Стили для ссылок
Эти стили удаляют подчеркивание у ссылок и наследуют цвет текста. */

a {
  text-decoration: none;
  color: inherit;
}
/* Стили для списков
Эти стили убирают маркеры и отступы у списков. */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Стили для текстовых элементов
Эти стили устанавливают нулевые отступы для заголовков, абзацев и других текстовых элементов. */

h1, h2, h3, p, figure, fieldset {
  margin: 0;
}
/* Стили для iframe
Эти стили убирают рамку у встроенных фреймов. */

iframe {
  border: none;
}
/* Скрытые элементы
Этот класс используется для скрытия элементов из видимой области экрана, сохраняя при этом их доступность для скринридеров и поисковых систем. */

.visually-hidden {
  position: fixed;
  transform: scale(0);
}
/* Пример контейнера
Эти стили применяются к контейнеру, который содержит основной контент страницы, чтобы ограничить его ширину и центрировать на экране. */

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;

  border: 1px solid red;
}
