.footer {
  padding: 40px 0 72px;
  background: #e9ded4;
}

.footer__container {
  opacity: 0.6;
}

.footer__description {
  font-family: 'Golos Text', sans-serif;
  line-height: 1.2;
  color: #313131;
}
