.stages {
  padding: 10px 0 20px;
}

.stages__container {
  /* display: grid; */
  position: relative;
}

.stages__wrapper {
  max-width: 806px;
  display: grid;
  grid-template-columns: 290px 1fr;
  grid-template-rows: repeat(2, 75px);
  column-gap: 15px;
  grid-template-areas:
    'title title'
    '. description';
}

.stages__title {
  /* grid-column: span 2; */
  grid-area: title;
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  font-size: 54px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #313131;
}

.stages__description {
  grid-area: description;
  max-width: 270px;
  font-family: 'Golos Text', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #3057a2;
}

.stages__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.stages__item {
  display: flex;
  padding: 20px;
  font-family: 'Golos Text', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #313131;
  gap: 20px;
  background: url('../../images/bg-stages.png');
}

.stages__item-area-horizontal {
  grid-column-start: 2;
  grid-column-end: 4;

  grid-row-start: 3;
  grid-row-end: 4;
}

.stages__item-area-vertical {
  grid-column-start: 3;
  grid-column-end: 4;

  grid-row-start: 1;
  grid-row-end: 3;
}

.stages__item-count {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  width: 36px;
  height: 36px;
  background: #fff;
  padding: 11px 13px;
}

.stages__item-desc {
  max-width: 446px;
  font-family: 'Golos Text', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #313131;
  position: relative;
  z-index: 5;
}

.stages__wrapper-images {
  position: absolute;
  right: -50px;
  bottom: 0;
  z-index: 10;
  width: 390px;
  z-index: 0;
}

.stages__image {
  width: 100%;
  object-fit: cover;
}
