.participants {
  padding: 200px 0 140px;
}

.participants__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.participants__title {
  align-self: start;
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  font-size: 54px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #313131;
  margin-bottom: 57px;
}

.participants__sliders-wrapper {
  display: flex;
  margin: 0 auto;
  /* border: 3px solid blue; */
  overflow: hidden;
  width: 1100px;
  /* justify-content: center; */
}

.participants__management {
}

.prev-button {
}

.next-button {
}

.participants__sliders-line {
  position: relative;
  display: flex;
  gap: 75px;
}

.participants__slider {
  max-width: 316px;
  width: 100%;
  position: relative;
  text-align: center;
}

.participants__slider-image {
  width: 320px;
  height: 320px;
  /* width: 100%; */
  position: relative;
  margin-bottom: 28px;
}

.participants__slider-title {
  font-family: 'Golos Text', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: #313131;
  margin-bottom: 6px;
}

.participants__slider-description {
  font-family: 'Golos Text', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #313131;
  opacity: 0.6;
  margin-bottom: 20px;
}

.participants__slider-btn {
  font-family: 'Golos Text', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #3057a2;
  padding: 12px;
  border: 1px solid #3057a2;
  border-radius: 62px;
}
